.contact {
  border: 1px solid rgb(64, 65, 64);
  border-radius: 4px;
  box-sizing: border-box;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  cursor: pointer;
  border: 1px solid #4d4d4d;
  border-radius: 12px;
  background-color: #df2828;
  color: #f7f7fa;
  width: 64px;
  font-size: 16px;
  padding: 4px;
}

.btn:hover {
  font-size: 14px;
  background-color: #e0373f;
  letter-spacing: 0.2em;
  box-shadow: 0 0 10px #e0373f;
}

.icon {
  margin-right: 8px;
  fill: rgb(33, 16, 89);
}
